
<section class="section create-profile container-fluid ">
  <div class="container">

    <div class="row"> 
      <!-- <div class="col-md-4 user-img">
        <div class="user-img-box">

        </div>
      </div> -->
      <div class="col-md-8">
        <div class="block">
          <div class="inner">
             
              <form>
                <div class="form-group">
                  <label for="name">Name *</label>
                  <input type="text" class="form-control" id="name"  > 
                </div>
                <div class="form-group">
                  <label for="address">Address *</label>
                  <textarea id="address" class="form-control" name="address" id="" cols="30" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="name">Contact Number *</label>
                  <input type="text" class="form-control" id="contact-no"  > 
                </div>
                
              </form>

          </div>
        </div>
      </div>

      <div class="col-md-4 user-img">
          <div class="block">
            <div class="inner">

              <div class="block1">
                  <h3>Class Type</h3>

                  <div class="my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="individual">
                      <label class="custom-control-label" for="individual">Individual Classes</label>
                    </div>
                  </div>

                  <div class="my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="group">
                      <label class="custom-control-label" for="group">Group Classes</label>
                    </div>
                  </div>

                  <div class="my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                      <input type="checkbox" class="custom-control-input" id="mass">
                      <label class="custom-control-label" for="mass">Mass Classes</label>
                    </div>
                  </div> 
              </div>

              <div class="block2">
                  <h3>Languages</h3>

                  <div class="my-1">
                      <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="english">
                        <label class="custom-control-label" for="english">English</label>
                      </div>
                    </div>

                    <div class="my-1">
                      <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="sinhala">
                        <label class="custom-control-label" for="sinhala">Sinhala</label>
                      </div>
                    </div>

                    <div class="my-1">
                      <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="tamil">
                        <label class="custom-control-label" for="tamil">Tamil</label>
                      </div>
                    </div>  
                    
                    <div class="my-1">
                      <div class="custom-control custom-checkbox mr-sm-2">
                        <input type="checkbox" class="custom-control-input" id="other">
                        <label class="custom-control-label" for="other">Other</label>
                      </div>
                    </div> 

              </div>
              
              
            </div>
          </div>
      </div>
    </div>

    <div class="row mt30">  
        <div class="col-md-12">
          <div class="block">
            <div class="inner">
               
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#description">Description</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#locations">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#qualifications">Qualifications</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#experience">Experience</a>
                    </li>
                  </ul>
                
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div id="description" class="container tab-pane active"><br>
                      <h3>Description</h3>

                        <div class="form-group">
                          <label for="name">Title to be displayed *</label>
                          <input type="text" class="form-control" id="name" placeholder="Ex: Classes for Grade 1 - 5"  > 
                        </div>

                        <div class="form-group">
                          <label for="address">Description *</label>
                          <textarea id="address" class="form-control" name="address" id="" cols="30" rows="3" placeholder="Ex: Description about your class"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="name">Subjects *</label>
                            <input type="text" class="form-control" id="name" placeholder="Ex: Maths, Science"  > 
                          </div> 
                    </div>

                    <div id="locations" class="container tab-pane fade"><br>
                      <h3>Locations</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>

                    <div id="qualifications" class="container tab-pane fade"><br>
                      <h3>Qualifications</h3>
                      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div id="experience" class="container tab-pane fade"><br>
                      <h3>Experience</h3>
                      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                    </div>
                  </div>
  
            </div>
          </div>
        </div>
      
      </div>
      
        
  </div>
</section>
