
<section id="banner" class="container-fluid small-banner">
	<div class="container banner-inner">
      <app-search-bar></app-search-bar>
    </div>
</section>

<section class="container-fluid section">
  <div class="container">
     
     <div class="row">
     	<div class="col-md-4 left-panel">
     		<div class="inner">
						<h2>Search By</h2>

						<label class="title_label">District</label>
						<select class="form-control">
								<option value="">Select District</option>
								<option value="1">Colombo</option>
								<option value="2">Kandy</option>
								<option value="3">Kandy</option>
								<option value="4">Galle</option>
						</select>

						<label class="title_label">City</label>
						<select class="form-control">
								<option value="">Select City</option>
								<option value="1">Colombo</option>
								<option value="2">Kandy</option>
								<option value="3">Kandy</option>
								<option value="4">Galle</option>
						</select>
     		</div>
     	</div>

     	<div class="col-md-12 right-panel">
				<div class="top-bar">
						<h2>Teachers</h2>
						<p>Showing (1 - 12 Teachers of 7371 )</p>

						<ul class="result-grid">
							<li><a href=""><i class="icon-list"></i></a></li>
							<li><a href=""><i class="icon-menu"></i></a></li>
							<!-- <li> 
								<select class="form-control">
										<option value="">Select City</option>
										<option value="1">Colombo</option>
										<option value="2">Kandy</option>
										<option value="3">Kandy</option>
										<option value="4">Galle</option>
								</select>
							</li> -->
						</ul>

				</div>

				<div class="new-tutors-list">
						<div class="tutor-card" routerLink="/teachers/view-teacher/1" > 
							<div class="inner">
								<div class="img">
									<i class="verified-member icon-premium-badge" title="Verified Tutor"></i> 
								</div>
								<div class="details">
									<h3>Nipuna Nanayakkara</h3>
									<span class="qualification">BSc (Hons) in Computer Science </span> 
									<span class="location"><i class="icon-placeholder"></i>	Gampaha</span> 
			
									<div class="subjects-labels"> 
										<span class="badge">Computer Studies</span>
										<span class="badge">English</span>
										<span class="badge">Science</span>
									</div> 
			
									<div class="card-bottom">
											<ul class="classes">
													<li title="Individual Classes"><i class="icon-man-user"></i></li>
													<li title="Group Classes"><i class="icon-multiple-users-silhouette"></i></li>
													<li class="disabled" title="Mass Classes"><i class="icon-crowd-of-users"></i></li>
											</ul>
			
											<ul class="medium">
												<li><span class="badge eng">E</span></li>
												<li><span class="badge sin">සි</span></li>
											</ul>
									</div> 
								</div> 
							</div>
						</div>

						<div class="tutor-card">
							<div class="inner">
								<div class="img"> 
								</div>
								<div class="details">
									<h3>Ananda Kaluarachchi</h3>
									<span class="qualification">BSc (Hons) in Physics</span> 
									<span class="location"><i class="icon-placeholder"></i>	Kandy</span> 
			
									<div class="subjects-labels"> 
										<span class="badge">Physics</span>
									</div> 
	
									<div class="card-bottom">
											<ul class="classes">
													<li class="disabled" title="Individual Classes"><i class="icon-man-user"></i></li>
													<li class="disabled" title="Group Classes"><i class="icon-multiple-users-silhouette"></i></li>
													<li title="Mass Classes"><i class="icon-crowd-of-users"></i></li>
											</ul>
			
											<ul class="medium"> 
													<li><span class="badge sin">සි</span></li>
											</ul>
									</div> 
								</div>
							</div>
						</div>
		
						<div class="tutor-card">
							<div class="inner">
								<div class="img"> 
								</div>
								<div class="details">
									<h3>Krishni Perera</h3>
									<span class="qualification">BSc (Hons) in Physics</span> 
									<span class="location"><i class="icon-placeholder"></i>	Colombo</span> 
			
									<div class="subjects-labels"> 
											<span class="badge">Physics</span>
											<span class="badge">Biology</span>
									</div>  
									<div class="card-bottom">
											<ul class="classes">
													<li class="disabled" title="Individual Classes"><i class="icon-man-user"></i></li>
													<li class="disabled" title="Group Classes"><i class="icon-multiple-users-silhouette"></i></li>
													<li title="Mass Classes"><i class="icon-crowd-of-users"></i></li>
											</ul>
			
											<ul class="medium"> 
												<li><span class="badge eng">E</span></li> 
											</ul>
									</div> 
								</div>
							</div>
						</div>
		
						<div class="tutor-card">
							<div class="inner">
								<div class="img"> 
								</div>
								<div class="details">
									<h3>Krishni Perera</h3>
									<span class="qualification">BSc (Hons) in Physics</span> 
									<span class="location"><i class="icon-placeholder"></i>	Colombo</span> 
			
									<div class="subjects-labels"> 
											<span class="badge">Physics</span>
											<span class="badge">Biology</span>
									</div>  
									<div class="card-bottom">
											<ul class="classes">
													<li class="disabled" title="Individual Classes"><i class="icon-man-user"></i></li>
													<li class="disabled" title="Group Classes"><i class="icon-multiple-users-silhouette"></i></li>
													<li title="Mass Classes"><i class="icon-crowd-of-users"></i></li>
											</ul> 
											<ul class="medium"> 
												<li><span class="badge eng">E</span></li> 
											</ul>
									</div> 
								</div>
								</div>
						</div> 

						<div class="tutor-card">
							<div class="inner">
								<div class="img"> 
								</div>
								<div class="details">
									<h3>Krishni Perera</h3>
									<span class="qualification">BSc (Hons) in Physics</span> 
									<span class="location"><i class="icon-placeholder"></i>	Colombo</span> 
			
									<div class="subjects-labels"> 
											<span class="badge">Physics</span>
											<span class="badge">Biology</span>
									</div>  
									<div class="card-bottom">
											<ul class="classes">
													<li class="disabled" title="Individual Classes"><i class="icon-man-user"></i></li>
													<li class="disabled" title="Group Classes"><i class="icon-multiple-users-silhouette"></i></li>
													<li title="Mass Classes"><i class="icon-crowd-of-users"></i></li>
											</ul> 
											<ul class="medium"> 
												<li><span class="badge eng">E</span></li> 
											</ul>
									</div> 
								</div>
								</div>
							</div> 

							<div class="tutor-card">
								<div class="inner">
									<div class="img"> 
									</div>
									<div class="details">
										<h3>Krishni Perera</h3>
										<span class="qualification">BSc (Hons) in Physics</span> 
										<span class="location"><i class="icon-placeholder"></i>	Colombo</span> 
				
										<div class="subjects-labels"> 
												<span class="badge">Physics</span>
												<span class="badge">Biology</span>
										</div>  
										<div class="card-bottom">
											<ul class="classes">
												<li class="disabled" title="Individual Classes"><i class="icon-man-user"></i></li>
												<li class="disabled" title="Group Classes"><i class="icon-multiple-users-silhouette"></i></li>
												<li title="Mass Classes"><i class="icon-crowd-of-users"></i></li>
											</ul> 
											<ul class="medium"> 
												<li><span class="badge eng">E</span></li> 
											</ul>
										</div> 
									</div>
									</div>
								</div> 
						
				</div> 

				<ul class="pagination">
						<li><a href="" class="active">1</a></li> 
						<li><a href="">2</a></li> 
						<li><a href="">3</a></li> 
				</ul>

     	</div>
     </div> 
  </div> 
</section>